collections : vendor details
- vendorid
- vendor name
- vendor address
- vendor phone             
- vendor addharno
- panno
- passport bool
- electionid bool 
- MCGM license issued 
- pancard 
- addharcard 
- shop location 
- complaints - array 
- credit score - int

Collections : Complaints 
- complaint id
- complaint date
- complaint type
- complaint description
- complaint status
- complaint resolved date
- vendorschema 

collections : vendingzones 
- vendingzoneid
- vendingzonename
- vendingzonelocation   
- vendingzonedescription
- vendingzoneimage 
- vendingzoneprofits 
- vendingzonecrowds 
- vendingzonefacilities
- vendingzonevendors
- vendingzonecomplaints

middlewares : vendor , admin 
 weekly bazaars 
- bazaarid
- bazaarname
- bazaarlocation
- bazaardescription
- bazaarimage
- bazaarstartdate
- bazaarenddate
- bazaarstatus
- bazaarvendors - array
- bazaartime  
