collections : vendor details
- vendorid
- vendor name
- vendor address
- vendor phone             
- vendor addharno
- panno
- passport bool
- electionid bool 
- MCGM license issued 
- pancard 
- addharcard 
- shop location 
- complaints - array 
- credit score - int

Collections : Complaints 
- complaint id
- complaint date
- complaint type
- complaint description
- complaint status  -- pending, resolved, rejected
- vendorschema 

/getcomplaints/:locality 
/addcomplaints



collections : vendingzones 
- vendingzoneid
- vendingzonename
- vendingzonelocation   
- vendingzonedescription
- vendingzoneimage 
- vendingzoneprofits 
- vendingzonecrowds 
- vendingzonefacilities
- vendingzonevendors
- vendingzonecomplaints
- category of vendors not allowed -- array 
middlewares : vendor , admin 
 weeklybazaars 
- bazaarid
- bazaarname
- bazaarlocation
- bazaardescription
- bazaarimage
- bazaarstartdate
- bazaarenddate
- bazaarstatus
- bazaarvendors - array
- bazaartime  
Govermentschemes , 
- govermentschemeid 
- govermentschemename
- govermentschemedescription
- govermentschemeimage
- govermentschemeprofits

