@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    overflow: hidden; /* Hide scrollbars */
    font-family: 'Dosis', sans-serif;
}

:root{
  --primary-color: #646FD4;
  --primary-color-dark: #242F9B;
  --secondary-color: #9BA3EB;
  --shade-color:#DBDFFD ;
  --box-color: #745ebdea;
  --gradient-text: linear-gradient(270deg,#FFBC80  0.08%, #FF6B62 94.04%);
	--gradient-bg: linear-gradient(90deg,#ffd8b5  0.08%, #ffa29e 94.04%);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding:0;
  margin:0;
  box-sizing: border-box;
}

.body{
  background: white;
  width:100%;
  height:100%;
}

ul{
  list-style-type: none;
}

/* Scrollbar Styling */
div::-webkit-scrollbar {
  width: 6px;               /* width of the entire scrollbar */
}

div::-webkit-scrollbar-track {
  background: #d3d3d3;        /* color of the tracking area */
  border-radius: 20px;       /* roundness of the scroll thumb */
}

div::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid va;  /* creates padding around scroll thumb */
}

/* Dashboard CSS */

.dashboard-content{
  height: 100vh;
  
  -webkit-display: -webkit-box;
  -webkit-display: -webkit-flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}
.dashboard-main-container{
  width: 100%;
  margin-left: 300px;
  height: 100vh;
  overflow: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

/* React BootStrap Buttons */
.btn-check:focus + .btn, .btn:focus, .btn:active:focus {
  background-color: var(--primary-color)!important;
  box-shadow: 0 0 0 0.25rem var(--box-color) !important;
  color: white!important;
  border-color: black!important;
}
.outline-btn{
  color: var(--primary-color-dark)!important;
  border-color: var(--primary-color)!important;
}
.outline-btn:hover, .outline-btn:active, .btn:active, .btn-primary{
  background-color: var(--primary-color-dark)!important;
  border-color: black!important;
  color: white!important;
}
.btn:active, .btn:hover, .outline-btn:hover, .outline-btn:focus, .btn:focus{
  background-color: #ff0f00!important;
}

/* React accordion */
.accordion-button:not(.collapsed){
  color: #ff0f00;
  background-color: white;

}
/* .accordion-button:not(.collapsed)::after{

} */
.accordion-button:focus{
  box-shadow: none;
}


/*Form */

.form-control:focus{
  box-shadow: 0 0 0 0.25rem var(--box-color) !important;
  border-color: var(--primary-color)!important;
}

input {
	width: 100%;
	border: 1px solid black;
	padding: 1rem 2rem;
	border-radius: 0.9rem;
	font-family: Inter;
	font-size: 1rem;
	font-weight: 400;
}

input:active,
input:focus {
	outline: none;
}

input:placeholder {
	color: var(--primary-color);
}

/* React form */
.form-check-input:focus{
  border-color: var(--box-color);
  box-shadow: none;
}
.form-check-input{
  height: 20px;
  padding: 8px 16px 8px 16px;
  margin-right: 12px;
}
.form-check-input:checked{
  background-color: var(--primary-color);
  border-color: #ffa29e;
}




/* Landing page */
.download-btn{
  
  display: inline-flex;
  gap:10px;
  width: 160px;
  padding:6px;
  border-radius: 4px;
  margin: 4px;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  margin-top: 20px;
  
}
.download-btn div{
  margin-left: 12px;
  font-size: 1.25rem;
  padding-right: 8px;
  align-items: center;
  
  
}
.google-play{
  color: #f8f9fa;
  /* background-color: white; */
  border: 2px solid #f8f9fa;
  
}
.google-play:hover{
  background-color: #f8f9fa;
  color: black;

}
.app-store{
  color: #f8f9fa;
  background-color: black;
  width: 160px;
 
  
  
}
.flex{
  display: flex;
  justify-content:space-between;
  margin: 0 30px ;
  text-align: left;
  margin-top: 50px;
  margin-bottom: -64px;
 
  

}

.TextWrapper{
margin-right: 80px;
background-color: #0b0c14dc;
opacity: 80%;
width: 60%;
height: 30%;


}
.font-awesome-icons{
  color: var(--box-color);
  opacity: 1;
  margin: 20px;
}
.font-awesome-icons:hover{
  color: var(--primary-color);
}
.social-media-icons a{
  margin: 32px;
}
.social-media-icons{
  display: flex;
  color: var(--secondary-color);
}
.social-media-icons a:hover{
  color: var(--shade-color);
}