html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

:root{
  --primary-color: #FF6B62;
  --secondary_color: #2C3333;
  --shade-color: #395B64;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
