.HeaderContainer{
    margin-left: 300px;
    display: flex;
	justify-content: space-between;
	align-items: center;
	/* padding: 0.8rem 3rem; */
	font-family: var(--font-family);
	border-radius: 0 0 30px 30px;
    box-shadow: 3px 3px 5px rgb(47, 47, 47);
	top: 0;
	/* width: 100%; */
    height: 10%;
	z-index: 12;
	/* padding-left: 5%; */
	backdrop-filter: blur(12px);
	border-bottom: 1px solid var(--color-input-border);
	background-image: linear-gradient(to right,#DBDFFD, rgba(220, 221, 239, 0.836), #a4a8d2);
	margin-bottom: 1rem;
	border-bottom: 1px solid rgb(7, 7, 7);
	color: #281C2D;
}

.HeaderWrapper{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.Title{
    margin-left: 200px;
    margin-top: 10px;

   

}

.Title>h2{
    color: rgb(33, 3, 3);
   
}

.Title>p{
    color: black;
    font-size: x-large;
    font-style: oblique;
}

.Profile{
    position: absolute;
    right: 20px;
    height: 100px;
    width: 100px;
    border-radius: 90%;
}

.image{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    cursor: pointer;
}

@media only screen and (max-width:768px){
    .HeaderContainer{
        width:100%;
        margin-left: 70px;
    }

    .Profile{
        right: 5px;
    }
}