.landing-navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.8rem 3rem;
	font-family: var(--font-family);
	/* position: fixed; */
	top: 0;
	width: 100%;
	z-index: 12;
	backdrop-filter: blur(12px);
	border-bottom: 1px solid var(--color-input-border);
	background-image: var(--gradient-bg);
	margin-bottom: 1rem;
}

.landing-navbar .landing-navbar-links {
	gap: 5rem;
	display: flex;
	font-weight: 500;
	font-size: 1.2rem;
	margin: 0 4rem;
}

.landing-navbar .landing-navbar-links p a {
	color: white!important;
	transition: 0.2s all ease;
}

.landing-navbar .landing-navbar-links p a:hover {
	color: #281C2D!important;
}

.landing-navbar-logo img {
	width: 65%;
}