.landing-navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.8rem 3rem;
	font-family: var(--font-family);
	border-radius: 0 0 30px 30px;
  box-shadow: 3px 3px 5px rgb(47, 47, 47);
	/* position: fixed; */
	top: 0;
	width: 100%;
	z-index: 12;
	padding-left: 5%;
	backdrop-filter: blur(12px);
	border-bottom: 1px solid var(--color-input-border);
	background-image: linear-gradient(to right, rgba(255,1,1,0), rgb(30, 70, 84));
	
	margin-bottom: 1rem;
	border-bottom: 1px solid rgb(211, 211, 211);
	color: #281C2D;
}

.landing-navbar .landing-navbar-links {
	gap: 5rem;
	display: flex;
	font-weight: 500;
	font-size: 1.2rem;
	margin: 0 4rem;
}

.landing-navbar .landing-navbar-links p a {
	color: #ffffff!important;
	transition: 0.2s all ease;
}

.landing-navbar .landing-navbar-links p a:hover {
	color: #281C2D!important;
}

.landing-navbar-logo  {
	/* width: 65%; */
	font-size: 3rem;
	font-weight: 800;
}