.pending-application-container{
    display: flex;
    width: 100%;
    margin-top: 30px;
    overflow-y: auto;
}
.pending-application-container-item{
    width: 50%;
    height: 80vh;
    text-align: left;
    margin: 10px;
    margin-left: 20px;
    padding-right: 5px;
    /* overflow: hidden; */
    overflow-y: auto;
}
.pending-application-container-item iframe{
    width: 100%;
}
.pending-application-section-title{
    font-weight: 600;
    font-size: 1.6rem;
}
.pending-application-section-desc{
    font-weight: 400;
    font-size: 1.2rem;
    padding-top: 10px;
    padding-bottom: 10px;
    color: var(--secondary-color);
}
.pending-application-banner{
    height: 50px;
    min-width: 200px;
    border-radius: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: large;
    font-weight: 600;
}
.pending-application-accordion{
    margin-top: 10px;
}
.pending-application-btn{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}
.pending-application-docs a{
    display: block;
    width: 256px;
    align-self: center;
    background-image: var(--gradient-text);
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 30px;
    border-radius: 40px;
    text-align: center;
}