.vending-zone-main-container{
    width: calc(100%-300px);
    height: 100%;
    margin-left: 300px;
    margin-right: 10px;
    padding-right: 20px;
    overflow-y: auto;
}
.add-vending-zones{
    margin-top: 20px;
    margin-left: 32px;
    margin-bottom: 20px;
    max-height: 70vh;
    overflow-y: auto;

}
.vendor-zone-list{
    height: 80vh;
    overflow-y: auto;
}
.add-vending-zones::-webkit-scrollbar{
    display: none;
}
.vendor-zone-list ul li{
    margin-bottom: 20px;
    margin-right: 10px;
}